<% provide(:title, "Checkpoints Map") %>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div> 
        <div class="checkpoint thumbnail">
          <%= image_tag('USA_Flag_Map.png') %> 
          <h4 class="text-center">USA</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="checkpointsMap/play">New York</a></li>
              <li class="divider"></li>
              <li><a href="#">California</a></li>
              <li class="divider"></li>
              <li><a href="#">Los Angeles</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div>
        <div href="#" class="checkpoint thumbnail">
          <%= image_tag('France_map.png') %>
          <h4 class="text-center">France</h4> 
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Paris</a></li>
              <li class="divider"></li>
              <li><a href="#">Marseille</a></li>
              <li class="divider"></li>
              <li><a href="#">Nice</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div>
        <div href="#" class="checkpoint thumbnail">
          <%= image_tag('brazil_map.png') %> 
          <h4 class="text-center">Brazil</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">São Paulo</a></li>
              <li class="divider"></li>
              <li><a href="#">Rio de Janeiro</a></li>
              <li class="divider"></li>
              <li><a href="#">Brasília</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div>
        <div href="#" class="checkpoint thumbnail">
          <%= image_tag('italy_map.png') %>
          <h4 class="text-center">Italy</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Rome</a></li>
              <li class="divider"></li>
              <li><a href="#">Milan</a></li>
              <li class="divider"></li>
              <li><a href="#">Venice</a></li>
            </ul>
          </div>           
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div>
        <div href="#" class="checkpoint thumbnail">
          <%= image_tag('china_map.png') %>
          <h4 class="text-center">China</h4> 
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Beijing</a></li>
              <li class="divider"></li>
              <li><a href="#">Hong Kong</a></li>
              <li class="divider"></li>
              <li><a href="#">Shanghai</a></li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div>
        <div href="#" class="checkpoint thumbnail">
          <%= image_tag('Germany_map.png') %> 
          <h4 class="text-center">Germany</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Choose Game City <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Berlin</a></li>
              <li class="divider"></li>
              <li><a href="#">Hamburg</a></li>
              <li class="divider"></li>
              <li><a href="#">Munich</a></li>
            </ul>
          </div>          
        </div>          
        </div>
      </div>
    </div>                    
  </div>
</div>