<% provide(:home, "active") %>
<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to, Serious Games </h1>
    <p><%= lorem_ipsum(300) %></p>
    <p><a class="btn btn-info btn-lg" href="#" role="button">Take a Tour</a></p>
  </div>
</div>

<div class="container bot-padding">
  <div class="well checkbox-well">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h1>Select Content of the Game</h1>
      </div>
    </div>
    <br>
    <%= form_for :game, :url => {:controller => "pages", :action => "checkpointsMap"}  do |game| %>
    <!-- <div class="form-group"> -->
      <div class="row checkbox">
        <!-- <div class="checkbox"> -->
        <% @units.each do |unit| 
          @lessons = unit.lessons
          @lessons.each do |lesson| %>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <%= check_box_tag "game[lesson_ids][]", lesson.id %>
            <!-- <input type="checkbox"> -->
            <label>
              Unit(<%= unit.number %>-<%= lesson.number %>): <%= lesson.name %>
            </label>
          </div>
        <% end %>
        <% end %>
        <!-- </div> -->  <!-- end of checkboxes -->
      </div> <!-- end of checkboxes row --> 
      <br>
      <br>
      <%= hidden_field_tag 'mode', '', :id => "gameMode" %> 
      <div class="row">      
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="well text-center newgame-well">
            <%= image_tag('User.png') %>
            <h2>Zen Mode</h2>
            <p>Play without any restrictions on time</p>
            <p>
              <input class="btn btn-info" type="submit" value="New Game" onclick="setMode('Zen')">
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="well text-center newgame-well">
            <%= image_tag('Clock.png') %>
            <h2>Time Limit Mode</h2>
            <p>Play with restrictions on time</p>
            <p>
              <input class="btn btn-info" href="#" type="submit" value="New Game" onclick="setMode('Time Limit')">
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="well text-center newgame-well">
            <%= image_tag('multiUsers.png') %>
            <h2>Racing Mode</h2>
            <p>Challenge a friend or another player</p>
            <p>
              <input class="btn btn-info" href="#" type="submit" value="New Game"  onclick="setMode('Racing')">
            </p>
          </div>
        </div>        
      </div>

<!--       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center checkbox-submit-button">
          <input class="btn btn-info" href="#" type="submit" value="Submit">
        </div>
      </div>  -->      
    <!-- </div> --> <!-- end of form group -->
    <% end %>
  </div> <!-- end of well -->
</div> <!-- end of container -->


<!-- Three wells of new game outside the form
<div class="container bot-padding">
    <div class="row">      
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="well text-center newgame-well">
          <%= image_tag('User.png') %>
          <h2>Zen Mode</h2>
          <p>Play without any restrictions on time</p>
          <p><a class="btn btn-info" href="home/checkpointsMap" role="button">New Game</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="well text-center newgame-well">
          <%= image_tag('Clock.png') %>
          <h2>Time Limit Mode</h2>
          <p>Play with restrictions on time</p>
          <p><a class="btn btn-info" href="#" role="button">New Game</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="well text-center newgame-well">
          <%= image_tag('multiUsers.png') %>
          <h2>Racing Mode</h2>
          <p>Challenge a friend or another player</p>
          <p><a class="btn btn-info" href="#" role="button">New Game</a></p>
        </div>
      </div>        
    </div>
  </div> -->

            <!-- 
          <div class="checkbox">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1">
              Unit(1-1): <%= Lesson.where(:unit_id => 1, :number => 1).first.name %>
            </label>
            <label for="checkbox1">Unit(1-1): Light</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id=" ">
            <label for="checkbox2">Unit(1-2): Seeing Colored Objects</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3">Unit(1-3): Magnetism</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox4">
            <label for="checkbox4">Unit(1-4): Magnetism and Electricity</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">  
            <input type="checkbox" id="checkbox5">
            <label for="checkbox5">Unit(2-1): Mixtures</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">  
            <input type="checkbox" id="checkbox6">
            <label for="checkbox6">Unit(2-2): Solutions</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox7">
            <label for="checkbox7">Unit(3-1): Energy Pathway</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox8">
            <label for="checkbox8">Unit(3-2): Food Relationships among Living Organisms</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <input type="checkbox" id="checkbox9">
            <label for="checkbox9">Unit(3-3): Environmental Balance</label>
          </div>
          </div> -->

</div>
<script type="text/javascript">
  function setMode(mode){
    document.getElementById('gameMode').value = mode;
  }
</script>