<% provide(:top_players, "active") %>
<% provide(:title, "Top Players") %>

<div class="container">
  <div class="row text-center bot-padding text-primary">
      <h1 class="bot-padding">Top Players</h1>
  </div>

  <div class="row players-container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <%= image_tag('Character 1.png') %> Ahmed
          <span class="pull-right top-players-score">
            <%= image_tag('coins.png') %>&nbsp&nbsp750
          </span>
        </li>
        <li class="list-group-item">
          <%= image_tag('Character 2.png') %> Abdelrahman
          <span class="pull-right top-players-score">
            <%= image_tag('coins.png') %>&nbsp&nbsp700
          </span>
        </li>
        <li class="list-group-item">
          <%= image_tag('Character 3.png') %> Nariman
          <span class="pull-right top-players-score">
            <%= image_tag('coins.png') %>&nbsp&nbsp600
          </span>
        </li>
        <li class="list-group-item">
          <%= image_tag('Character 4.png') %> Fatma
          <span class="pull-right top-players-score">
            <%= image_tag('coins.png') %>&nbsp&nbsp580
          </span>
        </li>
        <li class="list-group-item">
          <%= image_tag('Character 5.png') %> Salma
          <span class="pull-right top-players-score">
            <%= image_tag('coins.png') %>&nbsp&nbsp550
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
