<% provide(:treasure_hunties, "active") %>
<% provide(:title, "Treasure Hunties") %>

<div class="container treasure-tilte">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="text-center">Collected Treasure from Checkpoints</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag('Part 2.png') %>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag('Part 6.png') %>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag('Part 5.png') %>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag('Part 1.png') %>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag placeholder_image(360, 208) %>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a href="#" class="thumbnail">
        <%= image_tag placeholder_image(360, 208) %>
      </a>
    </div>                    
  </div>
</div>

<div class="container treasure-tilte">
  <div class="row arrange-treasure-button">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="treasureHunties/arrangeInvention" class="btn btn-info">Arrange Treasure</a>
    </div>
  </div>
</div>
